
*.pdb
*.idb
*.tlog
*.tlog
*.ipch

*.opendb
*.db-wal
*.db-shm
*.db
*.ipch
*.ipch
*.obj
*.tlog
*.idb
*.pdb
*.pdb
*.ilk
GP_Peters/.vs/GP_Peters/v16/.suo
GP_Peters/.vs/GP_Peters/v16/ipch/AutoPCH/2fb57df186f34267/MAIN.ipch
GP_Peters/.vs/GP_Peters/v16/ipch/AutoPCH/6d70393dd7796d1c/GAME.ipch
GP_Peters/GP_Peters/x64/Debug/Game.obj
GP_Peters/GP_Peters/x64/Debug/GP_Peters.tlog/link.read.1.tlog
GP_Peters/GP_Peters/x64/Debug/vc142.idb
GP_Peters/GP_Peters/x64/Debug/vc142.pdb
GP_Peters/x64/Debug/GP_Peters.ilk
GP_Peters/x64/Debug/GP_Peters.pdb
